<div class="body">
  <div class="head">
    <div class="headcontainer">
      <div class="tittle"><span class="spantittle">¡Tu tienes el control!</span>
      </div>
      <div class="text">
        <p>¿Quieres cambiar tu contraseña? ¿O a lo mejor tu correo electrónico? Aquí puedes acceder a todos tus datos.
          Incluso eliminar tu perfil o pedirnos que eliminemos tus datos. Todo claro y sencillo.</p>
      </div>
    </div>
    <div class="img"></div>
  </div>
  <div class="bodycontainer">
    <div class="datospersonales">
      <span class="tittle">Tus datos personales</span><br>
      <div class="data">
        <span class="field">Nombre de usuario </span><br>
        <p>@usuario</p><br>
        <span class="field">Email</span><br>
        <p>@email</p>
      </div>
    </div>
    <div class="privacidad">
      <span class="tittle">Privacidad y permisos</span><br>
      <div class="data">
        <span class="field">Revocar permisos </span><br>
        <span class="field">Cancelar suscripción newsletter</span><br>
        <span class="field">Política de privacidad de datos</span><br>
        <span class="field">Eliminar cuenta</span>
      </div>
    </div>
  </div>
</div>
