@import "../../styles.scss";

.tutorial {
  width: 100%;
  height: fit-content;
  .titulo {
    width: 1440px;
    height: 103px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: $primary_green;
    text-align: center;
    margin: auto;
    align-self: center;
    h1 {
      padding-top: 10px;
      font-size: 72px;
      font-variant: small-caps;
      width: 100%;
      line-height: 75px;
    }
  }
  .primeraParte {
    width: 1440px;
    height: 957px;
    margin: auto;
    background-image: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 79.9%), url("../../assets/img/overhead-view-of-soil-plant-and-peat-tray-with-gardening-glove-on-white-wooden-surface.jpeg");
    background-size: cover;
    padding-top: 5%;
    .boxTutorial{
      margin-left: 670px;
      width: 692px;
      background-color: white;
      height: 767px;
      border-radius: 15px;
      padding: 20px;
      box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
      iframe{
        width: 100%;
        height: 400px;
        border-radius: 15px;
        margin-bottom: 30px;
      }
      .descripcion{
       font-size: 20px;
        display: flex;
        justify-content: justify;
      }
    }
  }
  .segundaParte {
    width: 1440px;
    height: 408px;
    margin: auto;
    background-color: #FFFFFF;
    box-shadow: 0px -15px 20px -15px  rgba(0, 0, 0, 0.18);
    .title{
      padding-top: 40px;
      margin-bottom: 30px;
      text-align: center;
      color: $primary_green;
    }
    .carousel {
      width: 100%;
      text-align: center;
      .carousel-inner {
        padding-left: 121px;
        padding-right: 100px;
        .row {
          .img-area {
            width: 357px;
            height: 215px;
            background-color: rgb(245, 245, 245);
            border-radius: 15px;
            padding: 8px;
            iframe {
              width: 341px;
              height: 198px;
              border-radius: 15px;
            }
          }
        }
      }
      button {
        width: 100px;
        span {
          color: $secondary_blue_green;
        }
      }
    }
  }
}
