<div class="body">
  <div class="head">
    <div class="headcontainer">
      <div class="tittle"><span class="spantittle">¡Aquí esta tu calendario!</span>
      </div>
      <div class="text">
        <p>Los tiempos de siembra, plantación y recogida son diferentes para todas las plantas. Al igual que sus
          cuidados. Consulta tu calendario y haz click en la planta que te interese para conocer más sobre sus
          cuidados
          específicos.</p>
      </div>
    </div>
    <div class="img"></div>
  </div>
  <div class="tablecontainer">
    <div class="tabletittle">
      <div class="tucalendario">
        <p>Tu calendario</p>
      </div>
      <div class="today">
        <p>Hoy es <span class="date">11 de Mayo de 2021</span></p>
      </div>
    </div>
    <div class="table">
      <div class="tablejustify">
        <table class="table table-hover">
          <thead>
            <tr class="estaciones">
              <th></th>
              <th class="withcolor" colspan="4">INVIERNO</th>
              <th colspan="4">PRIMAVERA</th>
              <th class="withcolor" colspan="4">VERANO</th>
              <th colspan="4">OTOÑO</th>
            </tr>
            <tr class="meses">
              <th class="misplantas">Mis plantas</th>
              <th class="withcolor" colspan="4">DIC&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                ENE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; FEB</th>
              <th colspan="4">MAR&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                ABR&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; MAY</th>
              <th class="withcolor" colspan="4">JUN&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                JUL&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; AGO</th>
              <th colspan="4">SEP&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                OCT&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; NOV</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Albahaca</td>
              <td class="withcolor" colspan="4"></td>
              <td colspan="4"></td>
              <td class="withcolor" colspan="4"></td>
              <td colspan="4"></td>
            </tr>
            <tr>
              <td>Tomates</td>
              <td class="withcolor" colspan="4"></td>
              <td colspan="4"></td>
              <td class="withcolor" colspan="4"></td>
              <td colspan="4"></td>
            </tr>
            <tr>
              <td>Pepinos</td>
              <td class="withcolor" colspan="4"></td>
              <td colspan="4"></td>
              <td class="withcolor" colspan="4"></td>
              <td colspan="4"></td>
            </tr>
            <tr>
              <td>Coliflor</td>
              <td class="withcolor" colspan="4"></td>
              <td colspan="4"></td>
              <td class="withcolor" colspan="4"></td>
              <td colspan="4"></td>
            </tr>
            <tr>
              <td>Repollo</td>
              <td class="withcolor" colspan="4"></td>
              <td colspan="4"></td>
              <td class="withcolor" colspan="4"></td>
              <td colspan="4"></td>
            </tr>
            <tr>
              <td>Pimientos</td>
              <td class="withcolor" colspan="4"></td>
              <td colspan="4"></td>
              <td class="withcolor" colspan="4"></td>
              <td colspan="4"></td>
            </tr>
            <tr>
              <td>Perejil</td>
              <td class="withcolor" colspan="4"></td>
              <td colspan="4"></td>
              <td class="withcolor" colspan="4"></td>
              <td colspan="4"></td>
            </tr>
            <tr>
              <td>Cilantro</td>
              <td class="withcolor" colspan="4"></td>
              <td colspan="4"></td>
              <td class="withcolor" colspan="4"></td>
              <td colspan="4"></td>
            </tr>
            <tr>
              <td>Hierbabuena</td>
              <td class="withcolor" colspan="4"></td>
              <td colspan="4"></td>
              <td class="withcolor" colspan="4"></td>
              <td colspan="4"></td>
            </tr>
            <tr>
              <td>Hinojo</td>
              <td class="withcolor" colspan="4"></td>
              <td colspan="4"></td>
              <td class="withcolor" colspan="4"></td>
              <td colspan="4"></td>
            </tr>
            <tr>
              <td>Fresas</td>
              <td class="withcolor" colspan="4"></td>
              <td colspan="4"></td>
              <td class="withcolor" colspan="4"></td>
              <td colspan="4"></td>
            </tr>
            <tr>
              <td>Zanahorias</td>
              <td class="withcolor" colspan="4"></td>
              <td colspan="4"></td>
              <td class="withcolor" colspan="4"></td>
              <td colspan="4"></td>
            </tr>
            <tr>
              <td>Acelgas</td>
              <td class="withcolor" colspan="4"></td>
              <td colspan="4"></td>
              <td class="withcolor" colspan="4"></td>
              <td colspan="4"></td>
            </tr>
            <tr>
              <td>Remolacha</td>
              <td class="withcolor" colspan="4"></td>
              <td colspan="4"></td>
              <td class="withcolor" colspan="4"></td>
              <td colspan="4"></td>
            </tr>
            <tr>
              <td>Sandía</td>
              <td class="withcolor" colspan="4"></td>
              <td colspan="4"></td>
              <td class="withcolor" colspan="4"></td>
              <td colspan="4"></td>
            </tr>
            <tr>
              <td>Melón</td>
              <td class="withcolor" colspan="4"></td>
              <td colspan="4"></td>
              <td class="withcolor" colspan="4"></td>
              <td colspan="4"></td>
            </tr>
            <tr>
              <td>Frambuesa</td>
              <td class="withcolor" colspan="4"></td>
              <td colspan="4"></td>
              <td class="withcolor" colspan="4"></td>
              <td colspan="4"></td>
            </tr>
            <tr>
              <td>Cebollas</td>
              <td class="withcolor" colspan="4"></td>
              <td colspan="4"></td>
              <td class="withcolor" colspan="4"></td>
              <td colspan="4"></td>
            </tr>
            <tr>
              <td>Apio</td>
              <td class="withcolor" colspan="4"></td>
              <td colspan="4"></td>
              <td class="withcolor" colspan="4"></td>
              <td colspan="4"></td>
            </tr>
            <tr>
              <td>Patatas</td>
              <td class="withcolor" colspan="4"></td>
              <td colspan="4"></td>
              <td class="withcolor" colspan="4"></td>
              <td colspan="4"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="leyenda">
        <div class="siembra">
          <img src="../../assets/icons/seeds 1.svg" alt="imagen huerto">
          <span>Siembra</span>
        </div>
        <div class="terreno">
          <img src="../../assets/icons/plantation 1.svg" alt="imagen huerto">
          <span>Plantación / Siembra en terreno</span>
        </div>
        <div class="recogida">
          <img src="../../assets/icons/cosecha 1.svg" alt="imagen huerto">
          <span>Recogida</span>
        </div>
      </div>
    </div>
  </div>
</div>

