<div class="TopMenu">
  <div class="row">
    <div class="LeftPart">
      <img src="../../assets/img/logo.png" alt="">
    </div>
    <div class="RightPart">
      <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Inicio</a>
      <a href="">TUTORIALES</a>
      <a routerLink="/consejos" routerLinkActive="active">CONSEJOS</a>
      <a href="">PLANIFICA TU HUERTO</a>
    </div>
    <div class="RedesSociales">
      <a href=""><i class="fab fa-facebook-square"></i></a>
      <a href=""><i class="fab fa-twitter-square"></i></a>
      <a href=""><i class="fab fa-youtube"></i></a>
    </div>
  </div>
</div>
