.TopMenu {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 130px;
  .row {
    width: 1440px;
    height: 130px;
    display: flex;
    .LeftPart {
      width: 40%;
      align-self: center;
      text-align: left;
      padding-left: 131px;
      img {
        height: 67px;
        width: auto;
      }
    }
    .RightPart {
      width: 50%;
      text-align: right;
      display: flex;
      font-weight: 300;
      font-size: 18px;
      padding-top: 41px;
      a {
        display: inline;
        margin-right: 18px;
        margin-left: 18px;
        color: #000000;
        text-decoration: none;
        &:hover {
          color: #000000e9;
          font-weight: 600;
        }
      }
      a.active {
        color: #000000e9;
        font-weight: 700;
      }
    }
    .RedesSociales {
      width: 10%;
      margin-top: 39px;
      height: 21px;
      a {
        margin-left: 4px;
        color: #00000035;
        text-decoration: none;
        font-size: 21px;
        &:hover {
          color: #000000e9;
          font-weight: 600;
        }
      }
    }
  }
}
