<div class="BoxPlanificacion">
  <div class="Container">
    <div class="titulo">
      <h1>Empieza a <span>PLANIFICAR HOY</span></h1>
    </div>
    <div class="container2">
      <div class="imagenSol"></div>
      <div class="Box">
        <div class="imagenHuerto"></div>
        <div class="formulario">
          <i class="fas fa-user"></i>
          <div class="options">
            <a class="iden" href="">Identifícate</a>
            <div class="line"></div>
            <a class="regis" href="">Regístrate</a>
          </div>
        </div>
        <div class="gradient">
        </div>
      </div>
    </div>
  </div>
</div>
