<div class="BoxConsejos">
  <div class="Container">
    <div class="row Titulo">
      <h1><span>Consejo</span> DE LA SEMANA</h1>
    </div>
    <div class="Box">
      <img src="../../assets/img/pexels-gary-barnes-6231906.jpeg" class="circular--square" alt="imagen olivos">
      <div class="OlivosText">
        <span>A LOS OLIVOS LES GUSTA EL SOL</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae dui dapibus, iaculis tellus in, aliquet
          lorem. Etiam porttitor efficitur pulvinar. Aenean pharetra a ipsum molestie porttitor. Fusce tempus suscipit
          diam, sit amet gravida est sodales ultricies. Proin id sollicitudin ex. Etiam in justo ultrices, dapibus ipsum
          ac, sodales eros. Phasellus pretium iaculis diam, a faucibus dui. Duis vel magna sed urna lobortis aliquam. Ut
          sit amet augue sit amet turpis porta faucibus. Nulla facilisi.
          <br><br>
          Donec turpis tortor, dignissim sit amet velit dignissim, vestibulum aliquet ipsum. Nunc commodo tortor nec
          augue
          mattis finibus. Etiam imperdiet sapien sed sapien dignissim mollis. Duis maximus, ligula id molestie
          ultricies,
          urna massa egestas neque, iaculis viverra odio felis eget justo. Morbi finibus cursus congue. Praesent a nulla
          laoreet, hendrerit magna ac, lacinia justo. Nulla eu facilisis justo, in tempor dui. Nullam ac massa in risus
          aliquam pulvinar id quis nibh. Cras tellus lacus, bibendum sed pulvinar sit amet, sagittis id eros. Mauris
          pretium risus ut mi cursus, ac vulputate ante luctus. Nam sit amet ligula pulvinar, hendrerit turpis quis,
          placerat orci. Maecenas dignissim nunc a tristique sollicitudin. Maecenas et aliquam turpis. Orci varius
          natoque
          penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec metus erat, tincidunt ut rutrum
          vitae,
          mollis at arcu. Donec ac lectus felis.
        </p>
      </div>
    </div>
    <div class="row MasConsejos">
      <p>LEER MÁS...</p>
    </div>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-md-4">
              <div class="single-box">
                <div class="card" style="width: 18rem;">
                  <div class="imagen">

                  </div>
                  <div class="card-body">
                    <h5 class="card-title">LOS SUELOS MAS APROPIADOS</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae dui dapibus,
                      iaculis tellus in, aliquet lorem. Etiam porttitor efficitur pulvinar. </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="single-box">
                <div class="card" style="width: 18rem;">
                  <div class="imagen">

                  </div>
                  <div class="card-body">
                    <h5 class="card-title">LOS SUELOS MAS APROPIADOS</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae dui dapibus,
                      iaculis tellus in, aliquet lorem. Etiam porttitor efficitur pulvinar. </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="single-box">
                <div class="card" style="width: 18rem;">
                  <div class="imagen">

                  </div>
                  <div class="card-body">
                    <h5 class="card-title">LOS SUELOS MAS APROPIADOS</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae dui dapibus,
                      iaculis tellus in, aliquet lorem. Etiam porttitor efficitur pulvinar. </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-md-4">
              <div class="single-box">
                <div class="card" style="width: 18rem;">
                  <div class="imagen">

                  </div>
                  <div class="card-body">
                    <h5 class="card-title">LOS SUELOS MAS APROPIADOS</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae dui dapibus,
                      iaculis tellus in, aliquet lorem. Etiam porttitor efficitur pulvinar. </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="single-box">
                <div class="card" style="width: 18rem;">
                  <div class="imagen">

                  </div>
                  <div class="card-body">
                    <h5 class="card-title">LOS SUELOS MAS APROPIADOS</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae dui dapibus,
                      iaculis tellus in, aliquet lorem. Etiam porttitor efficitur pulvinar. </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="single-box">
                <div class="card" style="width: 18rem;">
                  <div class="imagen">

                  </div>
                  <div class="card-body">
                    <h5 class="card-title">LOS SUELOS MAS APROPIADOS</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae dui dapibus,
                      iaculis tellus in, aliquet lorem. Etiam porttitor efficitur pulvinar. </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
