.BoxConsejos {
  display: flex;
  justify-content: center;
  .Container {
    width: 1440px;
    height: auto;
    margin-bottom: 50px;
    .Titulo {
      width: 100%;
      padding-left: 125px;
      padding-top: 29px;
      h1 {
        font-size: 50px;
        font-weight: 300;
      }
      span {
        font-size: 72px;
        font-weight: 900;
        font-variant: small-caps;
      }
    }
    .Box {
      display: flex;
      justify-content: center;
      .fondoVerde {
        width: 589px;
        height: 589px;
        margin-top: 50px;
        border-radius: 50%;
        background-color: #7db541;
        .fondoVerdeClaro {
          width: 561px;
          height: 561px;
          border-radius: 50%;
          background-color: #e3ffaf;
          float: right;
          .imagen {
            width: 530px;
            height: 530px;
            border-radius: 50%;
            background-image: url(../../assets/img/pexels-gary-barnes-6231906.jpeg);
            background-size: cover;
            background-position: center;
            float: right;
          }
        }
      }
      .OlivosText {
        margin-left: 90px;
        margin-top: 20px;
        span {
          font-size: 36px;
          color: #2d5f00;
        }
        p {
          width: 575px;
          height: auto;
          margin-top: 20px;
          font-size: 18px;
        }
      }
    }
    .MasConsejos {
      margin-top: 40px;
      text-align: center;
      font-size: 36px;
      color: #2d5f00;
      font-weight: 900;
    }
    .carousel {
      width: 100%;
      margin-top: 20px;
      .carousel-inner {
        padding-left: 121px;
        padding-right: 100px;
        padding-bottom: 20px;
        .card {
          min-width: 100%;
          margin: 0;
          border: none;
          .imagen {
            width: 331px;
            height: 231px;
            border-radius: 20px;
            margin-bottom: -55px;
            z-index: 3;
            background-image: url(../../assets/img/pexels-gary-barnes-6231906.jpeg);
            background-size: cover;
            background-position: center;
          }
          .card-body {
            width: 280px;
            height: 200px;
            box-shadow: 2px 4px 13px 2px rgba(0, 0, 0, 0.25);
            margin-left: 25px;
            padding-top: 80px;
            padding-left: 20px;
            h5 {
              font-weight: 900;
              font-size: 14px;
              text-align: center;
            }
            p {
              font-size: 12px;
            }
          }
        }
      }
    }
    button {
      width: 100px;
      /*por algún motivo no cambia el color de las flechas T_T*/
      span {
        color: aquamarine !important;
      }
    }
  }
}
