@import "../../styles";

.Tutorial {
  width: 100%;
  display: block;
  justify-content: center;
  .Box {
    width: 1440px;
    display: block;
    margin: auto;
    background-image: url('../../assets/img/plant-growing-in-bulb.jpeg');
    background-size: 591px 591px;
    background-repeat: no-repeat;
    background-position: right;
    .Titulo {
      height: 90px;
      font-variant: small-caps;
      margin-bottom: 60px;
      h1 {
        font-size: 72px;
        font-weight: 100;
      }
      span {
        font-weight: 800;
      }
    }
    .Video {
      width: 744px;
      height: 447px;
      left: 88px;
      background-color: white;
      box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 15px;
      padding: 10px;
      overflow: hidden;
      iframe {
        width: 100%;
        height: 100%;
        border-radius: 15px;
        z-index: 1;
        overflow: hidden;
      }
    }
  }
  .Descripcion {
    width: 100%;
    height: 150px;
    background-color: white;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.25);
    justify-content: center;
    margin-top: -10px;
    object-fit:cover;
    z-index:2;
    padding-top: 40px;
    p {
      max-width: 1440px;
      display: block;
      margin: auto;
    }
  }
}
