<div class="Tutorial">
  <div class="Box">
    <div class="row Titulo">
      <h1><span>Tutorial</span> de la semana</h1>
    </div>
    <div class="Video">
      <iframe
        src="https://www.youtube.com/embed/Z0wwlZkaLgU"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
  <div class="Descripcion">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae dui
      dapibus, iaculis tellus in, aliquet lorem. Etiam porttitor efficitur
      pulvinar. Aenean pharetra a ipsum molestie porttitor. Fusce tempus
      suscipit diam, sit amet gravida est sodales ultricies. Proin id
      sollicitudin ex. Etiam in justo ultrices, dapibus ipsum ac, sodales eros.
      Phasellus pretium iaculis diam, a faucibus dui. Duis vel magna sed urna
      lobortis aliquam. Ut sit amet augue sit amet turpis porta faucibus. Nulla
      facilisi.
    </p>
  </div>
  <div class="Busqueda">
    <div class="row">
      <mat-form-field appearance="fill">
        <mat-label>Busca por temas</mat-label>
        <input matInput placeholder="ej. Cosecha" />
        <mat-icon matSuffix></mat-icon>
      </mat-form-field>
      <a href="">Categorías ></a>
      <a href="">Filtro ></a>
      <button type="button" class="btn btn-primary">Búsqueda</button>
    </div>
  </div>
  <div class="Resultados">
    <!--añadir el codigo desde la base de datos con ngFor-->
    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-4"  *ngFor="let item of tutoriales">
        <a [routerLink]="['/tutorial/'+ item._id]" routerLinkActive="router-link-active" class="video">
          <div class="box-img" ><img [src]="images[randomImg()]"  alt=""></div>
          <div class="box-data">
            <div class="box">
              <h2>{{item.title}}</h2>
              <div class="ptag">{{item.tags}}</div>
            </div>
          </div>
      </a>
      </div>
    </div>
    
  </div>
</div>


