<div class="box">
  <div class="contenedor">
    <div class="sidebar">
      <a routerLink="tuhuerto" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><img
          src="../../assets/icons/huerto 1.svg" alt="imagen huerto"><br>Tu huerto</a>
      <a routerLink="tucalendario" routerLinkActive="active"><img src="../../assets/icons/calendar 1.svg"
          alt="imagen calendario"><br>Tu
        calendario</a>
      <a routerLink="tustareas" routerLinkActive="active"><img src="../../assets/icons/todo list 1.svg" alt="imagen tareas"><br>Tus tareas</a>
      <a routerLink="tusajustes" routerLinkActive="active"><img src="../../assets/icons/user 1.svg" alt="imagen usuario"><br>Tus ajustes</a>
      <a href="javascript: void(0)"><img src="../../assets/icons/logout 1.svg" alt="imagen sesion"> <br>Cerrar
        sesión</a>
    </div>
    <div class="router">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
