<div class="box">
  <div class="contenedor">
    <div class="sidebar">
      <a href="javascript: void(0)"><img src="../../assets/icons/huerto.svg" alt="imagen huerto"><br>Tu huerto</a>
      <a href="javascript: void(0)"><img src="../../assets/icons/calendar.svg" alt="imagen calendario"><br>Tu calendario</a>
      <a href="javascript: void(0)"><img src="../../assets/icons/todo_list.svg" alt="imagen tareas"><br>Tus tareas</a>
      <a href="javascript: void(0)"><img src="../../assets/icons/user.svg" alt="imagen usuario"><br>Tus ajustes</a>
      <a href="javascript: void(0)"><img src="../../assets/icons/logout 1.svg" alt="imagen sesion"> <br>Cerrar sesión</a>
    </div>
  </div>
</div>
