<div class="Form">
  <div class="pasos">
    <h1>Empezamos con <br><span>tu huerto!</span></h1>
    <div class="steps">
      <div class="linea"></div>
      <div class="dibujos">
        <div class="cir"></div>
        <div class="cir"></div>
        <div class="cir"></div>
        <div class="cir"></div>
      </div>
      <div class="textos">
        <p routerLink="/formulario" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Primeros pasos</p>
        <p routerLink="/formulario/second" routerLinkActive="active">Algo más de informacion</p>
        <p routerLink="/formulario/third" routerLinkActive="active">Tus preferencias</p>
        <p routerLink="/formulario/final" routerLinkActive="active">Ya casi..</p>
      </div>
    </div>
  </div>
  <div class="formulario"><router-outlet></router-outlet></div>
</div>

