<div class="box">
  <div class="contenedor">
    <div class="gradient">
    </div>
    <div class="alldiv">
      <div class="tittlecontainer">
        <div class="tittlebox">
          <div class="tittlediv">
            <span class="class1">¡Empezemos con</span><br>
            <span class="class2">TU HUERTO!</span>
          </div>
        </div>
      </div>
      <div class="optionscontainer">
        <div class="optionsbox">
          <div class="optionsdiv">
            <span class="options">Primeros pasos</span><br>
            <span class="options">Algo más de información</span><br>
            <span class="options">Tus preferencias</span><br>
            <span class="options">Ya casi...</span><br>
          </div>
        </div>
      </div>
    </div>
    <div class="formdiv">
    </div>
  </div>
</div>
