<div class="Box">
  <div class="ImagenPrincipal">
    <h1>Bienvenido a tu <span>Independencia Agrícola</span></h1>
    <p>
      Planifica tu huerto desde cero estés donde estés.<br />Todo lo que
      necesitas saber sobre agricultura doméstica en un solo lugar
    </p>
  </div>
</div>

<div class="BoxCards">
  <div class="Tutoriales">
    <div class="Text1">
      <h1>TUTORIALES</h1>
    </div>
  </div>
  <div class="Consejos">
    <div class="Text2">
      <h1>CONSEJOS</h1>
    </div>
  </div>
  <div class="Planificacion">
    <div class="Text3">
      <h1>PLANIFICACIÓN</h1>
    </div>
  </div>
</div>

<div class="BoxTutorial">
  <div class="Container">
    <div class="row Titulo">
      <h1><span>Tutorial</span> DE LA SEMANA</h1>
    </div>
    <div class="row TextoTutorialHome">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
        malesuada, mi et ultrices semper, metus mauris viverra augue, vel
        blandit mi odio ac est. Praesent vel rutrum mauris, sed rhoncus nibh.
        Aliquam molestie commodo tortor, vel vestibulum elit rutrum et.
        <br /><br />Maecenas lobortis nibh augue, et pulvinar felis aliquam in.
        Mauris metus ligula, vehicula non arcu a, ultricies tempus nisl. Vivamus
        vitae tellus et ex dapibus faucibus. Aliquam mattis quam pharetra ante
        interdum, nec interdum est elementum.
      </p>
      <iframe
        width="744"
        height="447"
        src="https://www.youtube.com/embed/Z0wwlZkaLgU"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <div class="row Relacionados">
      <p>Mas tutoriales</p>
    </div>
    <!--uso las clases propias de bootstrap-->
    <div id="carouselExampleControls"class="carousel slide"data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-md-4">
              <div class="single-box">
                <div class="img-area">
                  <iframe
                    src="https://www.youtube.com/embed/Z0wwlZkaLgU"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                  ></iframe>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="single-box">
                <div class="img-area">
                  <iframe
                    src="https://www.youtube.com/embed/Z0wwlZkaLgU"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                  ></iframe>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="single-box">
                <div class="img-area">
                  <iframe
                    src="https://www.youtube.com/embed/Z0wwlZkaLgU"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                  ></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-md-4">
              <div class="single-box">
                <div class="img-area">
                  <iframe
                    src="https://www.youtube.com/embed/Z0wwlZkaLgU"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                  ></iframe>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="single-box">
                <div class="img-area">
                  <iframe
                    src="https://www.youtube.com/embed/Z0wwlZkaLgU"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                  ></iframe>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="single-box">
                <div class="img-area">
                  <iframe
                    src="https://www.youtube.com/embed/Z0wwlZkaLgU"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                  ></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="prev"
      >
      <span><i class="fa fa-angle-left fa-5x" aria-hidden="true"></i></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="next"
      >
      <span><i class="fa fa-angle-right fa-5x" aria-hidden="true"></i></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
<div class="BoxConsejos">
  <div class="Container">
    <div class="row Titulo">
      <h1><span>Consejo</span> DE LA SEMANA</h1>
    </div>
    <div class="Box">
      <div class="fondoVerde">
        <div class="fondoVerdeClaro">
          <div class="imagen"></div>
        </div>
      </div>
      <!-- <img src="../../assets/img/pexels-gary-barnes-6231906.jpeg" class="circular--square" alt="imagen olivos"> -->
      <div class="OlivosText">
        <span>A LOS OLIVOS LES GUSTA EL SOL</span>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae dui
          dapibus, iaculis tellus in, aliquet lorem. Etiam porttitor efficitur
          pulvinar. Aenean pharetra a ipsum molestie porttitor. Fusce tempus
          suscipit diam, sit amet gravida est sodales ultricies. Proin id
          sollicitudin ex. Etiam in justo ultrices, dapibus ipsum ac, sodales
          eros. Phasellus pretium iaculis diam, a faucibus dui. Duis vel magna
          sed urna lobortis aliquam. Ut sit amet augue sit amet turpis porta
          faucibus. Nulla facilisi. <br /><br />
          Donec turpis tortor, dignissim sit amet velit dignissim, vestibulum
          aliquet ipsum. Nunc commodo tortor nec augue mattis finibus. Etiam
          imperdiet sapien sed sapien dignissim mollis. Duis maximus, ligula id
          molestie ultricies, urna massa egestas neque, iaculis viverra odio
          felis eget justo. Morbi finibus cursus congue. Praesent a nulla
          laoreet, hendrerit magna ac, lacinia justo. Nulla eu facilisis justo,
          in tempor dui. Nullam ac massa in risus aliquam pulvinar id quis nibh.
          Cras tellus lacus, bibendum sed pulvinar sit amet, sagittis id eros.
          Mauris pretium risus ut mi cursus, ac vulputate ante luctus. Nam sit
          amet ligula pulvinar, hendrerit turpis quis, placerat orci. Maecenas
          dignissim nunc a tristique sollicitudin. Maecenas et aliquam turpis.
          Orci varius natoque penatibus et magnis dis parturient montes,
          nascetur ridiculus mus. Donec metus erat, tincidunt ut rutrum vitae,
          mollis at arcu. Donec ac lectus felis.
        </p>
      </div>
    </div>
    <div class="row MasConsejos">
      <p>LEER MÁS...</p>
    </div>
    <div
      id="carouselExampleControls2"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-md-4">
              <div class="single-box">
                <div class="card" style="width: 18rem">
                  <div class="imagen"></div>
                  <div class="card-body">
                    <h5 class="card-title">LOS SUELOS MAS APROPIADOS5</h5>
                    <p class="card-text">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      In vitae dui dapibus, iaculis tellus in, aliquet lorem.
                      Etiam porttitor efficitur pulvinar.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="single-box">
                <div class="card" style="width: 18rem">
                  <div class="imagen"></div>
                  <div class="card-body">
                    <h5 class="card-title">LOS SUELOS MAS APROPIADOS3</h5>
                    <p class="card-text">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      In vitae dui dapibus, iaculis tellus in, aliquet lorem.
                      Etiam porttitor efficitur pulvinar.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="single-box">
                <div class="card" style="width: 18rem">
                  <div class="imagen"></div>
                  <div class="card-body">
                    <h5 class="card-title">LOS SUELOS MAS APROPIADOS</h5>
                    <p class="card-text">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      In vitae dui dapibus, iaculis tellus in, aliquet lorem.
                      Etiam porttitor efficitur pulvinar.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-md-4">
              <div class="single-box">
                <div class="card" style="width: 18rem">
                  <div class="imagen"></div>
                  <div class="card-body">
                    <h5 class="card-title">LOS SUELOS MAS APROPIADOS2</h5>
                    <p class="card-text">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      In vitae dui dapibus, iaculis tellus in, aliquet lorem.
                      Etiam porttitor efficitur pulvinar.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="single-box">
                <div class="card" style="width: 18rem">
                  <div class="imagen"></div>
                  <div class="card-body">
                    <h5 class="card-title">LOS SUELOS MAS APROPIADOS1</h5>
                    <p class="card-text">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      In vitae dui dapibus, iaculis tellus in, aliquet lorem.
                      Etiam porttitor efficitur pulvinar.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="single-box">
                <div class="card" style="width: 18rem">
                  <div class="imagen"></div>
                  <div class="card-body">
                    <h5 class="card-title">LOS SUELOS MAS APROPIADOS</h5>
                    <p class="card-text">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      In vitae dui dapibus, iaculis tellus in, aliquet lorem.
                      Etiam porttitor efficitur pulvinar.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleControls2"
        data-bs-slide="prev"
      >
        <span><i class="fa fa-angle-left fa-5x" aria-hidden="true"></i></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleControls2"
        data-bs-slide="next"
      >
        <span><i class="fa fa-angle-right fa-5x" aria-hidden="true"></i></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>

