<div class="Box">
  <div class="ImagenPrincipal">
    <h1>Bienvenido a tu <span>Independencia Agrícola</span></h1>
    <p>Planifica tu huerto desde cero estés donde estés.<br>Todo lo que necesitas saber sobre agricultura doméstica en
      un solo lugar</p>
  </div>
</div>

<div class="BoxCards">
  <div class="Tutoriales">
    <div class="Text1">
      <h1>TUTORIALES</h1>
    </div>
  </div>
  <div class="Consejos">
    <div class="Text2">
      <h1>CONSEJOS</h1>
    </div>
  </div>
  <div class="Planificacion">
    <div class="Text3">
      <h1>PLANIFICACIÓN</h1>
    </div>
  </div>
</div>

<div class="line">
</div>

<div class="BoxTutorial">
  <div class="Container">
    <div class="TextoTutorialHome">
      <div class="Titulo">
        <h1><span>Tutorial</span> DE LA SEMANA</h1>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris malesuada, mi et ultrices semper, metus
        mauris
        viverra augue, vel blandit mi odio ac est. Praesent vel rutrum mauris, sed rhoncus nibh. Aliquam molestie
        commodo
        tortor, vel vestibulum elit rutrum et. Maecenas lobortis nibh augue, et pulvinar felis aliquam in.
        Mauris metus ligula, vehicula non arcu a, ultricies tempus nisl. Vivamus vitae tellus et ex dapibus faucibus.
        Aliquam mattis quam pharetra ante interdum, nec interdum est elementum.</p>
    </div>
    <div class="Video">
      <iframe width="744" height="447" src="https://www.youtube.com/embed/Z0wwlZkaLgU" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
  </div>
</div>
